@import "../../../theme/base"

.form
  color get-white()
  margin 20px 0

  a
    color get-grey(100)
    font-weight 400
    text-decoration none
    &:hover
      color get-white()
      text-decoration none
