$accent-color     = get-grey(800)
$ambient-color    = get-grey()

$main-color       = get-cyan()
$strong-color     = get-cyan(900)
$weak-color       = get-cyan(100)

$link-color       = get-cyan(800)
$link-hover-color = get-grey(900)
$text-color       = $accent-color
$bg-color         = get-grey(50)
$border-color     = border-gray(300)

$font-size        = 14px
$line-height      = 22px
$radius           = 3px
