	@import "../../theme/base"

.issue_detail
  .user_info
    width 110px
    float left
    img
      border-radius $radius
      margin-right 10px
  .issue_info
    float left
    border 1px solid get-grey(300)
    border-radius $radius
    padding 10px
